@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Cinzel:wght@400..900&family=Comforter&family=Great+Vibes&display=swap");

.font-cinzel {
  font-family: "Cinzel", serif;
}

.castoro-titling-regular {
  font-family: "Castoro Titling", serif;
  font-weight: 400;
  font-style: normal;
}
