@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Great+Vibes&display=swap");

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.comforter-regular {
  font-family: "Comforter", cursive;
  font-weight: 400;
  font-style: normal;
}
